.footer{
    width: 100vw;
    height: 60px;
    position: fixed;
    top: calc(100vh - 100px);
    left: 0;
    color: white;
    text-align: center;
    background-color: #BC6C25;
    margin-top: 50px;
    color: black;
}
.link{
    color: black;
}
.link:hover{
    color: white;
}