.footer{
    display: flex;
    width: 100vw;
    height: 60px;
    flex-direction: row;
    position: absolute;
    left: 0;
    color: white;
    align-items: center;
    background-color: orange;
    margin-top: 50px;
}