.navbar{
    display: flex;
    width: 100vw;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #BC6C25;
    font-size: 15px;
}
.logo{
    width: 100px;
    height: 100px;
}
.entryInfo{
    color: #374724;
}