.navbar{
    display: flex;
    width: 100vw;
    height: 60px;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    align-items: center;
    background-color: orange;
    font-size: 10px;
}
.logo{
    width: 100px;
    height: 100px;
}
.add-btn{
    border-radius: 60%;
}