/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.entriesDisplay{
  margin-top: 90px;
}

.form{
  display: flex;
  flex-direction: column;
}
.entryType{
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */

/* Colours for the Project

#606C38 - light green
#283618 - darker green
#FEFAE0 - white/beige
DDA15E - Tan skin
#BC6C25 - Tanner skin
#E8A87C
#5E5E5E - un gris medio que puede usarse para resaltar o equilibrar otros colores en tu diseño.
#E3DCC3 - un tono de crema que complementa el blanco/beige y suaviza la paleta en general.

*/

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
.form{
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.main{
  display: flex;
}
.entriesDisplay{
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-left: 80px;
  margin-top: 60px;
  margin-bottom: 120px;
}

.balance{
  margin-top: 60px;
  margin-left: 50%;
  position: fixed;
} 
.balanceText{
  font-size: 45px;
  margin-top: 20px;
  width: 200px;
}
.balanceLine{
  display: flex;
}
.balanceValue{
  font-size: 100px;
  margin-top: 20px;
}

body{
  background-color: #FEFAE0;
}

button {
  background-color: #BC6C25;
  border-radius: 5px;
  font-weight: bold;
}
button:hover{
  cursor:pointer;
}
.details {
  display: flex;
  flex-direction: column;
  align-items: center; /* center items horizontally */
  height: 100vh; /* occupy full height of the viewport */
  margin-top: 30px;
}

.details h2 {
  text-align: center; /* center text horizontally */
}

.detailsBtns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pageError{
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


